@-moz-document domain("web.whatsapp.com") {
@media (max-width: 767px) {
    ._3dqpi {
        min-width: 0;
        width: 100vw;
    }

    .two .k1feT {
        flex: none;
        width: 70px;
    }

    ._1WliW {
        width: 40px !important;
        height: 40px !important;
    }

    ._15G96 {
        position: absolute;
        top: 15px;
        right: 5px;
        z-index: 999;
    }
}
}
